.form__place-type-1:checked ~ .form__step3--hotels {display: block;}
.form__place-type-1:checked ~ .form__step3--cottages {display: none;}
.form__place-type-2:checked ~ .form__step3--hotels {display: none;}
.form__place-type-2:checked ~ .form__step3--cottages {display: block;}