.promo{
  display: flex;
  flex-direction: column;

  &__tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    padding: 33px 20px;

  }

  &__tab{
    position: relative;
    font-size: 14px;
    font-family: @font_FiraSans;
    text-transform: uppercase;
    font-weight: 400;
    list-style-type: none;

    a{
      color: @promo-tab-color;
      text-decoration: none;
    }

    a:hover{
      color: @promo-tab-line-color;
    }

    a:active{
      color: @promo-tab-line-color;
    }

  }

//дописать цвет активной ссылки

  &__tab--active{
    a{
      color: @promo-tab-line-color;
    }
  }

  &__tab--active:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 40px;
    width: 30px;
    height: 2px;
    background-color: @promo-tab-line-color;
  }

  // &__tab--active-corporation{
  //   a{
  //     color: @promo-tab-line-color;
  //   }
  // }

  // &__tab--active-corporation:after {
  //   content: '';
  //   position: absolute;
  //   bottom: -3px;
  //   left: 40px;
  //   width: 30px;
  //   height: 2px;
  //   background-color: @promo-tab-line-color;
  // }

  @media (min-width: @screen-sm){
    &__tabs{
        justify-content: center;
    }

    &__tab{
        margin: 0 18px;
    }
  }


}

.promo:after{
    content: '';
    clear: both;
    display: block;
  }